*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

h1{
    color: rgb(162, 187, 20);
}

p{
    text-align: justify;
    color: rgb(93, 190, 55);
}

ul{
    list-style: none;
    color: rgb(93, 190, 55);
}

body{
    background-color: rgb(28, 99, 75);
}

.main{
    height: 580px;
    margin: 1em;
}

.footer{
    background-color: aquamarine;
    padding: 1em;
}

.cabecalho{
    background-color: aquamarine;
    padding: 1em;
}